<section class="container form">

    <!-- TAB NAVIGATION -->
    <ul class="tab-group">
        <li class="tab active"><a href="" ng-click="$ctrl.display('signup')">Sign Up</a></li>
        <li class="tab"><a href="" ng-click="$ctrl.display('login')">Log In</a></li>
    </ul>

    <!-- SIGNUP PART -->
    <div id="signup" ng-if="$ctrl.tabToDisplay === 'signup'">
        <h1>Sign Up for Free</h1>

        <form name="registerForm" class="row" ng-submit="$ctrl.register(credentials)" novalidate>
            <div class="field-wrap col-md-6" actif-label>
                <label for="firstNameRegister">
                    First Name<span class="req">*</span>
                </label>
                <input id="firstNameRegister" name="firstNameRegister" type="text" required autocomplete="off"
                       ng-model="credentials.firstName" ng-minlength="2"/>
                <div ng-messages="registerForm.firstNameRegister.$error" role="alert" ng-if="registerForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <div class="field-wrap col-md-6" actif-label>
                <label for="lastNameRegister">
                    Last Name<span class="req">*</span>
                </label>
                <input id="lastNameRegister" name="lastNameRegister" type="text" required autocomplete="off"
                       ng-model="credentials.lastName" ng-minlength="2"/>
                <div ng-messages="registerForm.lastNameRegister.$error" role="alert" ng-if="registerForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <div class="radios col-xs-12" actif-label>
                <input type="radio" ng-model="user.gender" id="maleRegister" value="Male"/>
                <label for="maleRegister"><i class="fa fa-mars fa-2x"></i></label>

                <input type="radio" ng-model="user.gender" id="femaleRegister" value="Female"/>
                <label for="femaleRegister"><i class="fa fa-venus fa-2x"></i></label>
            </div>

            <div class="input-group calendar col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="user.birthDay"
                       data-date-time-picker
                       data-view-mode="years"
                       data-format="DD/MM/YYYY"
                       data-max-date="{{$ctrl.dayDate}}"
                />
                <span class="input-group-addon">
                    <span class="fa fa-calendar">
                    </span>
                </span>
            </div>

            <div class="field-wrap col-xs-12" actif-label>
                <label for="emailRegister">
                    Email Address<span class="req">*</span>
                </label>
                <input id="emailRegister" name="emailRegister" type="email" required autocomplete="off"
                       ng-model="credentials.email" required/>
                <div ng-messages="registerForm.emailRegister.$error" role="alert" ng-if="registerForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <div class="field-wrap col-xs-12" actif-label>
                <label for="passwordRegister">
                    Set A Password<span class="req">*</span>
                </label>
                <input id="passwordRegister" name="passwordRegister" type="password" required autocomplete="off"
                       ng-model="credentials.password"/>
                <div ng-messages="registerForm.passwordRegister.$error" role="alert" ng-if="registerForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <button type="submit" class="button button-block">Sign Me Up</button>

        </form>

    </div>

    <!-- LOGIN PART -->
    <div id="login" ng-if="$ctrl.tabToDisplay === 'login'">

        <h1>Welcome Back!</h1>

        <form class="row" name="loginForm" ng-submit="$ctrl.login(credentials)" novalidate>

            <div class="field-wrap col-xs-12" actif-label>
                <label for="emailLogin">
                    Email Address<span class="req">*</span>
                </label>
                <input id="emailLogin" name="emailLogin" type="email" required autocomplete="off"
                       ng-model="credentials.email"/>
                <div ng-messages="loginForm.emailLogin.$error" role="alert" ng-if="loginForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <div class="field-wrap col-xs-12" actif-label>
                <label for="passwordLogin">
                    Password<span class="req">*</span>
                </label>
                <input id="passwordLogin" name="passwordLogin" type="password" required autocomplete="off"
                       ng-model="credentials.password"/>
                <div ng-messages="loginForm.passwordLogin.$error" role="alert" ng-if="loginForm.$submitted" class="messagesError">
                    <div ng-messages-include="app/components/login/errors.html"></div>
                </div>
            </div>

            <button class="button button-block">Log In</button>

        </form>

    </div>

    <div id="modalError" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="modalErrorLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                Insert text here
            </div>
        </div>
    </div>

</section> <!-- /form -->